.default-color {
  &#app {
    background-color: $bgc-d-app;
    color: $c-d-app;
  }
}

.bs-w-1 {
  box-shadow: 0 0 0 1px hsla(0, 0%, 100%, 0.1);
}
.bs-w-4 {
  box-shadow: 0 0 0 1px hsla(0, 0%, 100%, 0.4);
}
.bs-w-7 {
  box-shadow: 0 0 0 1px hsla(0, 0%, 100%, 0.7);
}

.bs-b-1 {
  box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.1);
}
.bs-b-4 {
  box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.4);
}
.bs-b-7 {
  box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.7);
}

.outer {
  position: relative;
  .inner {
    position: absolute;

    &.inner-posX-center {
      left: 50%;
      transform: translateX(-50%);
    }

    &.inner-posY-center {
      top: 50%;
      transform: translateY(-50%);
    }

    &.inner-pos-center {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &.inner-w100 {
      width: 100%;
    }
  }
}

ul.ul-no-space {
  margin: 0;
  padding: 0;

  & > li.li-no-style {
    list-style-type: none;
  }
}

.box {
  display: block;
}

.f-box {
  display: flex;

  // 방향: Row
  &.f-r-SS {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
  &.f-r-CC {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &.f-r-SEC {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  &.f-r-CE {
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }

  // 방향: Column
  &.f-c-SS {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &.f-c-CS {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}

.g-box {
  display: grid;
}

// 링크
.logo-link {
  a {
    color: inherit;
    font-size: inherit;
    text-decoration: none;

    &:link {
      text-decoration: none;
    }
    &:visited {
      text-decoration: none;
    }
    &:hover {
      text-decoration: none;
    }
    &:active {
      text-decoration: none;
    }
  }
}

.link {
  a {
    color: inherit;
    font-size: inherit;
    text-decoration: none;

    &:link {
      text-decoration: none;
    }
    &:visited {
      text-decoration: none;
    }
    &:hover {
      text-decoration: none;
    }
    &:active {
      color: blue;
      text-decoration: none;
    }
  }
}
